.ai-container {
  margin: 20px auto;
  padding: 15px;
  font-family: Tahoma, sans-serif;
  background-color: #f0f0f0;
  border: 2px solid #0a3d91;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  .loading {
    color: #007bff;
    font-weight: bold;
  }
  
  .results {
    margin-top: 10px;
    
  }
  
  .final-result {
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
  }
  .final-sentence{
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1.5rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
  }
  
  .final-career{
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1.5rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .ai-button {
    background-color: #e1e1e1;
    border: 1px solid #7f7f7f;
    box-shadow: inset 1px 1px white, inset -1px -1px #c0c0c0;
    color: black;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    min-width: 150px;
  }
  
  
  