.ai-container {
  margin: 20px auto;
  padding: 15px;
  font-family: Tahoma, sans-serif;
  background-color: #f0f0f0;
  border: 2px solid #0a3d91;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  .loading {
    color: #007bff;
    font-weight: bold;
  }
  
  .results {
    margin-top: 10px;
    
  }
  
  .final-result {
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
  }
  .final-sentence{
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1.5rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
  }
  
  .final-career{
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1.5rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .ai-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  
  