  
  .loading {
    color: #007bff;
    font-weight: bold;
  }
  
  .results {
    margin-top: 10px;
    
  }
  
  .final-result {
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
  }
  .final-sentence{
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1.5rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
  }
  
  .final-career{
    margin-top: 20px;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 1.5rem;
    border-top: 2px solid #007bff;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }.ai-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .ai-button {
    background-color: #e0e0e0; /* Classic XP button gray */
    border: 2px outset #ffffff; /* XP-style 3D border */
    color: black;
    font-family: Tahoma, sans-serif;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    flex-wrap: nowrap; /* changed from wrap to nowrap */
    box-shadow: inset -1px -1px #a0a0a0, inset 1px 1px #ffffff; /* Inner bevel */
    transition: all 0.1s ease-in-out;
  }
  
  .ai-button:active {
    border: 2px inset #ffffff;
    background-color: #d0d0d0;
  }
  