.App-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* aligns items to the top, so footer is at the bottom*/
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .header-content { 
    background-color: #282c34;
    width: 100%; 
    padding-bottom: 20px; 
  }
  
  .header-content h1 {
    font-size: 2em;
  }
  
  footer {
    text-align: center;
    padding: 12px;
    background-color: paleturquoise;
    color: black;
    position: fixed; /* If you can scroll on page, don't make this fixed */
    bottom: 0;
    width: 100%
  }
  
  
  .PagesButtons {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin: 0 auto;
    background-color: paleturquoise;
    height: 30vh;
    gap:10vh
  }
  
  .ButtonDescription {
    width: 400px;
    color: rgba(37, 37, 37, 0.829);
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(250, 236, 226);
    margin-top: 5px;
    font-size: 18px;
    text-wrap: balance;
  }

    .PagesButtons button {
      background-color: rgb(0, 49, 65);
    width: 30vh;
    border: 1px solid black; 
    text-align: center;
    padding: center; 
    height: 15vh;}