.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* aligns items to the top, so footer is at the bottom*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-content { 
  background-color: #282c34;
  width: 100%; 
  padding-bottom: 20px; 
}

.header-content h1 {
  font-size: 2em;
}
.AuthorText {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;

  color: rgba(0, 0, 0, 0.829);
  background-image: url("../public/Windows-XP-Desktop-Taskbar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0;
  padding: 0;
}