.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* aligns items to the top, so footer is at the bottom*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-content { 
  background-color: #282c34;
  width: 100%; 
  padding-bottom: 20px; 
}

.header-content h1 {
  font-size: 2em;
}